/* ******************** */
/* BUTTON STYLES        */
/* ******************** */
.button {
  padding: var(--spacing-100) var(--spacing-300);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-500);
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: 0;
}

.primary {
  color: var(--clr-primary-400);
  background-color: var(--clr-accent-400);
}

.secondary {
  color: var(--clr-accent-400);
  border-color: var(--clr-accent-400);
}

.square {
  font-weight: var(--fw-regular);
  padding: var(--spacing-100);
}

.rounded {
  display: grid;
  place-content: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--clr-primary-500);
  border-radius: 50%;
}
