/* ******************** */
/* FOOTER STYLES        */
/* ******************** */
.footer {
  text-align: center;
  background-color: var(--clr-secondary-500);
  color: var(--clr-primary-600);
  padding-block: var(--spacing-800);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-800);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
}

.socials {
  display: flex;
  gap: var(--spacing-100);
}

.socialLink {
  height: 2.5rem;
  width: 2.5rem;
  padding: var(--spacing-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-600);
  line-height: 0;
  background-color: var(--clr-secondary-400);
  border-radius: 50%;
}

.title {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.text {
  max-width: 35ch;
}

@media screen and (min-width: 48em) {
  .footer {
    text-align: start;
    padding-block: var(--spacing-900);
  }

  .grid {
    grid-template-columns: 40% repeat(3, 1fr);
  }

  .column {
    align-items: flex-start;
  }
}
