/* ****************** */
/* UTILITY CLASSES    */
/* ****************** */
.primary-title {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-400);
}

.secondary-title {
  font-size: var(--fs-750);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.body-text {
  color: var(--clr-secondary-300);
}

@media screen and (min-width: 48em) {
  .secondary-title {
    font-size: var(--fs-800);
  }
}
